@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}
body,
html {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}
#container {
    z-index: 1;
    /*chrome bug to clip ::after http://stackoverflow.com/questions/20001515/chrome-bug-border-radius-not-clipping-contents-when-combined-with-css-transiti FF9B07*/
}
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.page1 {
    background: #FFC003;
}
.page2 {
    background: #ffac00;
}
.page3 {
    background: #7e4b00;
    color: #fff;
    font-size: 13px;
}
.page_container {
    padding: 5%;
}
h1 {
    color: #000;
    margin: 30px 0;
    font-size: 26px;
    padding: 0px;
}
h2 {
    color: #1a1a1a;
    margin: 0;
    font-size: 20px;
    padding: 0px;
}
p {
    padding: 5px 0;
    margin: 0;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul{
    clear: both;
    display: block;
}
.patterns li {
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 5px #000;
    margin: 5px;
    float: left;
    position: relative;
}
.patterns li span{
    background: rgba(3, 0, 0, 0.78);
    bottom: 0;
    color: #FFF;
    display: block;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2px #000;
}
.patterns::after{
    content: '';
    clear: both;
    float: none;
    display: block;
}
.generate{
    margin: 30px 0;
}
.generate-btn {

    font-weight: bold;
    padding: 20px;
    box-shadow:inset 0px 1px 0px 0px #d197fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
    background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
    background-color:#a53df6;
    border-radius:6px;
    border:1px solid #9c33ed;
    color:#ffffff;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #7d15cd;
}
.generate-btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
    background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
    background-color:#7c16cb;
}
.generate-btn:active {
    position:relative;
    top:1px;
}
.page_container {
    position: relative;
}

#customGraindent {
    width: 300px;
    height: 300px;
    background: #ccc;
    float: left;
    margin: 0 20px;
}
.dg.main {
    float: left;
}

#customGraindent > * {
    position: relative;
}

#customGraindent a {
    color: #fff;
    font-size: 13px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
}
.colorpicker {
    width: 130px;
}
.sessionOne h2 {
    color: #FFAC00;
    margin: 20px 0;
}
.sessionOne pre.prettyprint {
    width: 400px;
    margin: 0px;
}
.sessionOne pre{
    background: #000;
}
.sessionOne {
    overflow-y: scroll;
    box-shadow: inset 0px -8px 20px #744501;
    padding: 10px;
    max-width: 900px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #673E01;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #673E01;
}
.custom-gen {
    background:#cf8900;
    height: 300px;
    padding: 20px;
    width: 603px;
    float: left;
}
.getCode {
    float: left;
    width: 300px;
    height: 300px;
    background: #B37700;
    padding: 20px;
}

.getCode textarea {
    height: 290px;
    width: 295px;
    resize: none;
}

#tv{
    background: #FFF;
}
#grass{
    background:#37820D;
}
#wood{
    background:rgb(160, 87, 3);
}
#filim{
    background: #000;
}